{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Blog Post - Start Bootstrap Template</title>
{% endblock %}
{% load thumbnail %}
{% block content %}
<!-- Page Content -->

<!-- Blog Post Content Column -->
<div class="col-lg-8">

    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{ post.title }}</h1>
    <img src="{{ post.avatar|thumbnail_url:'avatar' }}" alt="{{ post.avatar.name }}">
    <!-- Author -->
    <p class="lead">
        <a href="#">Author {{ user.username }}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Сreated {{ post.created }}</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">

    <hr>

    <!-- Post Content -->
    <p class="lead"></p>
    <p>{{ post.content }}</p>

    <hr>


    <!-- Blog Comments -->
    {% if request.user.is_authenticated %}
    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endif %}
    <hr>

    <!-- Posted Comments -->

    {% for comment in post.comment_set.all %}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ comment.post }}
                <small>{{ comment.created }}</small>
            </h4>
            <p>{{ comment.text }}</p>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}
